
.map {
  height: 400px; 
  width: 100%;
}

.custom-clustericon {
        background: var(--cluster-color);
        color: #FFF;
        border-radius: 60px;
        font-weight: bold;
        font-size: 15px;
        display: flex;
        align-items: center;
}

.custom-clustericon-county {
  --cluster-color: #0B5D93;
}

.custom-clustericon-state {
  --cluster-color: #634562;
}

.custom-clustericon-federal {
  --cluster-color: #CE2727;
}
